{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<link rel='stylesheet' href="{% static 'pages/home.css' %} "/>
    <style>@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');</style>
        <div class="home_top">
            <h1 class="welcome">Surf &#38; Turf!</h1>
        </div>
        
        <div class="flex_container">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">New Customers</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Create New Account</h6>
                    <p class="card-text">New customers can create an account here to order food, view discounts, shop for souvenirs, or check out local attractions.</p>
                    <button class="button"><span><a class ='links' href="#">Create Account</a></span></button>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Existing Customers</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Login to Account</h6>
                    <p class="card-text">Welcome back friends! Login to your existing account to browse our souvenirs or check out the discounts for your visit with us again!</p>
                    <button class="button"><span><a class ='links' href="{% url 'login' %}">Create Account</a></span></button>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Food Menu</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Explore Food</h6>
                    <p class="card-text">Here you can browse our delicious selection of food, drinks, and appetizers. You can even take some home for later.</p>
                    <button class="button"><span><a class ='links' href="#">Create Account</a></span></button>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Souvenir Shop</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Purchase Merchandise</h6>
                    <p class="card-text">Don't want to forget the amazing visit here at Surf &#38; Turf? Take home a few of our awesome merchandise to remember your visit!</p>
                    <button class="button"><span><a class ='links' href="#">Create Account</a></span></button>
                </div>
            </div>
    </div>
{% endblock %}