.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}

.menu {
    font-family: 'Caveat', cursive;
    font-size: 14px;
}

.menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}

.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}

.menu-item {
    display: flex;
}

.menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin: 1.5em;
}

.menu-item-text {
    flex-grow: 1;
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu-item-name {
    margin-right: 1.5em;
}

.menu-item-description {
    line-height: 1.6;
}

.link {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 2px;
    border-radius: 5px;
    background-color: rgba(108, 177, 108, 0.708);
}


.link {
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(108, 177, 108, 0.708);
}

.link span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    transition: all 0.5s;
}

.link span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.link:hover span {
    padding-right: 25px;
}

.link:hover span:after {
    opacity: 1;
    right: 0;
}

.code {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

@media screen and (min-width: 992px) {
    .menu {
        font-size: 16px;
    }

    .menu-group {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu-item-image {
        width: 125px;
        height: 125px;
    }
}