{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<link rel='stylesheet' href="{% static 'pages/home.css' %} "/>
<link rel="stylesheet" href="{% static 'pages/discounts.css' %}" />

<div class="container">
    <div class="menu">
        <h2 class="menu-group-heading">
            Hotel Discounts
        </h2>
        <div class="menu-group">
            <div class="menu-item">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Manchester Grand Hyatt San Diego</span>
                    </h3>
                    <span>Manchester Grand Hyatt Hotel, 1 Market Pl, San Diego, CA 92101</span><br/>
                    <button class="button"><span><a class ='links' href="https://www.hyatt.com/en-US/hotel/california/manchester-grand-hyatt-san-diego/sanrs?src=adm_sem_crp_chico_crp_ppc_NAM-UnitedStates-CA-SanDiego-GH-SANRS_google_Evergreen2022_e_manchester%20grand%20hyatt%20san%20diego&gclid=CjwKCAiAwomeBhBWEiwAM43YIKf19g6gXdtSkFOurAZdaEe028ZABLWqh7OL7CJ0LYlzcV66ewkccBoCpLkQAvD_BwE">Website</a></span></button>
                    <p class="menu-item-description">Use this code to receive a discount when staying here!:</p>
                    <span class="code">SURF891A</span>
                </div>
            </div>

            <div class="menu-item">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Marriott Marquis San Diego Marina</span>
                    </h3>
                    <span>333 W Harbor Dr, San Diego, CA 92101</span><br/>
                    <button class="button"><span><a class ='links' href="https://click.brandlink.org/redirect?ssid=GQN3R3cRlmyrmDBeu%2FQO4pGSUHrXl%2FaswgN2MPxPN%2BN6hHgrrhygvRGnmWAZV%2FWS&lpurl=https%3A//www.marriott.com/default.mi">Website</a></span></button>
                    <p class="menu-item-description">Use this code to receive a discount when staying here!:</p>
                    <span class="code">SURF900B</span>
                </div>
            </div>

            <div class="menu-item">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Embassy Suites by Hilton San Diego Bay Downtown</span>
                    </h3>
                    <span>601 Pacific Hwy, San Diego, CA 92101</span><br/>
                    <button class="button"><span><a class ='links' href="https://embassysuitesbyhiltonsandiegobaydowntown.reservationstays.com/requests/qGrE3iY2Lc5gsMJyd-tUlA/hotels/RjbRa9jv">Website</a></span></button>
                    <p class="menu-item-description">Use this code to receive a discount when staying here!:</p>
                    <span class="code">SURF611C</span>
                </div>
            </div>

            <div class="menu-item">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">The Westin San Diego Gaslamp Quarter</span>
                    </h3>
                    <span>910 Broadway Cir, San Diego, CA 92101</span><br/>
                    <button class="button"><span><a class ='links' href="https://www.reservationcounter.com/hotels/show/6125c30/the-westin-san-diego-gaslamp-quarter-san-diego-ca/?cid=sem::TPRC::AW::Reservation_Counter_US_West_California_Southern_Border::US_California_San_Diego_The_Westin_San_Diego_Gaslamp_Quarter_did-6125c30::the%20westin%20san%20diego%20gaslamp%20quarter::e&creative=562772411968&device=c&AdPos=&utm_source=google&utm_medium=cpc&utm_term=the%20westin%20san%20diego%20gaslamp%20quarter&utm_campaign=Reservation_Counter_US_West_California_Southern_Border&iv_=__iv_p_1_a_982243579_g_57722696634_w_kwd-51709144140_h_9031476_ii__d_c_v__n_g_c_562772411968_k_the%20westin%20san%20diego%20gaslamp%20quarter_m_e_l__t__e__r__vi__&gclid=CjwKCAiAwomeBhBWEiwAM43YIEkdStPoW8FNYjShHch_55FN0hZIiMSTMs7GjM3Fk-L_tDR__XzgyxoCqwsQAvD_BwE">Website</a></span></button>
                    <p class="menu-item-description">Use this code to receive a discount when staying here!:</p>
                    <span class="code">SURF129D</span>
                </div>
            </div>
        </div>
    </div>

    <div class="menu">
        <h2 class="menu-group-heading">
            Attractions Discount
        </h2>
        <div class="menu-group">
            <div class="menu-item">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">USS Midway Museums</span>
                    </h3>
                    <p class="menu-item-description">Use this code for a discount when you visit the museum:</p>
                    <span class="code">TURF101</span>
                </div>
            </div>

            <div class="menu-item">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">San Diego Zoo</span>
                    </h3>
                    <p class="menu-item-description">Use this code for a discount when you visit the zoo:</p>
                    <span class="code">TURF205</span>
                </div>
            </div>

            <div class="menu-item">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">San Diego SEAL Tour by Land and Sea</span>
                    </h3>
                    <p class="menu-item-description">Use this code for a discount when you visit the tour:</p>
                    <span class="code">TURF658</span>
                </div>
            </div>

            <div class="menu-item">
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">Whale Watching Cruise</span>
                    </h3>
                    <p class="menu-item-description">Use this code for a discount when you visit the cruise:</p>
                    <span class="code">TURF888</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}